* {
	margin: 0px ;
}

html, body {
	height: 100%;
	width :100%;
}

div nav{
	height: 50px;
	width: 100%;
	background-color: #21886F;
	position: fixed;
	margin-bottom: 10px;
}

.col-sm-8 form input{
	border-radius: 5px;
}

#content{
	margin-top: 50px;
}

.sect{
	height: 100%;
	background-color: #247821;
	background-size: cover ;
	background-attachment: fixed;
}
.sect label{
	color: white; 
	font-size: 120px;
	font-family: Pacifico;
	padding: 50px;
	float: left;
}
.subSect{
	height: 50%;
	background-color: #fff;
}

.firstSect{
	background-image: url("first.jpg");
}

.secondSect{
	background-image: url('second.jpg');
}

.btn{
	color: black;
	font: 35px;
	margin-top: 5px;
	font-family: Pacifico;
}
nav .btn:hover{
	color:grey;
}

.sect label form input[type=text] {
    float: left;
    border: 5px solid rgba(255,255,255,0.63);
    border-radius: 50px;
    font-size: 30px;
    background-color: transparent;
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 15px 32px 18px 63px;
}
.btn-new{
	float: left;
    background-color: transparent;
    padding: 19px;
    margin: 1px 11px;
    font-size: 28px;
    border-radius: 0;
    border: 2px solid transparent;
}

